<head>
  <title>Book a space</title>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <h2>Please book your space</h2>
  <form action='/spaces/request' method='post'>

    <%= @record.name %>. <br>

    Room description <br><div><%= @record.description %></div><br>

    The price per night costs: <%= @record.price %>
    <br>

    <label for="arrival">Request from:</label>
    <input type="date" name="request_from" min="<%= @record.checkin %>" max="<%= @record.checkout %>">
    <label for="departure">Request until:</label>
    <input type="date" name="request_until" min="<%= @record.checkin %>" max="<%= @record.checkout %>">
    <input type="submit" value="Request to Book">
  </form>
</body>
