
<head>
  <title>Book a Space</title>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <div>
    <a href='/spaces'>Spaces</a> | <a href='/spaces/requests'>Requests</a> | <a href='/sessions/logout'>Sign out</a>
  </div>

<form action='/spaces/new'>
  <button>List a space</button>
</form>
  <h2>Book a Space</h2>
  <form action="/spaces/bookings" method="post">
    <input type='date' id='checkin' name='checkin'>
    <input type='date' id='checkout' name='checkout'>
    <input type='submit' value='List Spaces'>
  </form>

  <% @spaces.each do |space| %>

  <a href='/spaces/bookings/<%= space.id %>' id='spaceID_<%= space.id %>'>
    <button class='listing'>
    <h3><%= space.name %></h3>
    <p><%= space.description %></p>
    <p>£<%= space.price %> / night</p>
    </button>
    <br>
  </a>

  <% end %>
</body>
