<html lang="en">
  <head>
    <link rel="shortcut icon" href="img/favicon3.ico"/>
    <title>Book a Space</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/vegas/vegas.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="interface.js"></script>
    <script src="/vegas/vegas.min.js"></script>
</head>

<body>
  <div class="sessionTile">
  <img class="logo" src="/img/logo.png">
  <div class="pagetitle" id="navigation2">
    <a href='/spaces'>Spaces</a><span class="divider">|</span><a href='/spaces/requests'>Requests</a><span class="divider">|</span><a href='/sessions/logout'>Sign out</a>
  </div>
  <br>
  <form action='/spaces/new'>
    <h1 style="text-align:center">Book a Space</h1>
    <button>List a space</button>
  </form>
  <form action="/spaces/bookings" method="post">
    <label class="inlinelabels" for="checkin"><b>Available from:</b></label>
    <label class="inlinelabels" for="checkin"><b>Available to:</b></label>
    <br>
    <input class="field2" type='date' id='checkin' name='checkin'>
    <input class="field2" type='date' id='checkout' name='checkout'>
    <input class="field2" type='submit' value='List Spaces'>
  </form>

  <% @spaces.each do |space| %>

  <a href='/spaces/bookings/<%= space.id %>' id='spaceID_<%= space.id %>'>
    <button class=''>
    <h3><%= space.name %></h3>
    <p><%= space.description %></p>
    <p>£<%= space.price %> / night</p>
    </button>
    <br>
  </a>

  <% end %>
  </div>
</body>
</html>
